*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: #131921;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    gap: 20px;
}
.left_aside{
    display: flex;
    align-items: center;
}
article{
    display: flex;
    border: 2px solid transparent;
    align-items: center;
    width: 50%;
    background-color: white;
    height: 40px;
    border-radius: 6px;
    color: black;   
}
.highlight{
    border: 1px solid transparent;
    height: 40px;
    padding: 5px;
}
.highlight:hover{
    border: 1px solid white;
}
[type="text"]{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0px 10px;
    border: transparent;
}
#all{
    height: 100%;
    padding: 0px 6px;
    outline: none;
    border: transparent;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 50px;
    background-color: #E6E6E6;
}
.icon_search{
    height: 100%;
    width: 50px;
    background-color: #febd69;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
article:focus-within{
    border:2px solid #febd69;
}
.right_aside{
    display: flex;
    align-items: center;
    /* gap: 10px; */
}
.right_aside :first-child{
    display: flex;
    align-items: center;
}
.content1{
    color: #ccccb6;
}
.content2{
    font-size: 16px;
    font-weight: 500;
}
.icon_cart{
    display: flex;
    align-items: center;
}
#fresh,#prime{
    background-color: #232F3f;
    color:white;
    border: none;
}
.navbar2{height: 50px;
    width: 100%;
    background-color:#232F3F;
    display: flex;
   align-items: center;
    gap: 25px;
    color: #E6E6E6;
}
.live{
      display: flex;
      height: 48px;
      /* width: 600px; */
      /* border: 3px solid red; */
      /* flex-direction: column;      */
}
.highlight2:hover{
    border: 1px solid white;
    padding: 5px;
}
#contain1{
    height: 310px;
    width: 350px;  
    padding: 30px;   
}
#mainbar{
    background-color: grey;
}
.box1{
    display: flex;
    margin-top: -340px;
    justify-content: center;
    gap: 20px;
    padding: 0px 2px 10px 2px;
   
}
.box{
    height: 450px;
    width:350px;
    /* border: 2px solid; */
    background-color: #f6ecec;
    
  
}
.row1,.row11{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    margin-top: 30px; 
}
.row2,.row22{
       display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
#secure{
    background-color: transparent;
}
.deal{
      text-decoration: none;
      margin-left: 25px;
}
#secure1{
    height: 120px;
    width: 340px;
    background-color:#f6ecec;
   margin-top: 0px;
   display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    /* align-items: center; */

}
.secure2{
    height: 30px;
    width: 310px;
    background-color:#FFCE12;
    border-radius: 50px;   
}
#id1{
    justify-content: center;
    display: flex;
    text-decoration: none;
}
.secure2:hover{
    background-color:#F3A847;
}
#rside{
    padding: 15px;
}
.demo{
    height: 300px;
    width: 1500px;
    display: flex;
    flex-direction: column;
     background-color: #FFFFFF;
     margin: 20px;
   
}
.demo11{
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 25px;
}

#display1{
    height: 275px;
    width: 1500px;
    background-color: #FFFFFF;
    border: 2ps solid black;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.images{
    height: 190px;
    width: 200px;
    
}
#display2{
    height: 250px;
    width: 1500px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px ;
}
.images2{
    height: 220px;
    width:220px;
    border-radius: 50%;
    
}
#display4{
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 2px;
}
.grid2{
    height: 450px;
    width:350px;
    /* border: 2px solid; */
    background-color: #f6ecec;
}
.row3,.row4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top: 20px; 
}
#cont2{
    padding: 20px;
}
#display3{
    height: 400px;
    width: 1500px;;
    background-color: white;
    border: 2ps solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 10px 10px 10px;
}
h2,h1{
    padding:10px;
}
.images3{
   height: 250px;
   width: 130px;
}
footer{
    height: 148px;
    width: 1500px;
   border: 1px solid grey;
   border-radius: 5px;

   }
  
   #box10{
    padding: 30px 420px;
    align-items: center;
    justify-items: center;
         
   }
   
.sign{
  height: 30px;
  width: 238px;
 
  background-color:#FFCE12;
  border-radius: 40px;
}
.signin{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #131921;
   
}
#beside{
    height: 50px;
    background-color: #485769;
    color: white;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #232F3E;
    height: 380px;
    width:1500px ;
    padding: 50px 250px;
   

    

}
.footer_column h3{
   color: #FFFFFF;
}
.footer_column li{
    color:#D1DDDD;
    list-style: none;
    line-height: 30px;
    
}
.footer_column a {
    text-decoration: none;
    color: #D1DDDD;
}
   .footer_column a:hover {   
     text-decoration: underline;
   }
   .end{
    height: 100px;
    width: 1500px;
    background-color: #232F3E;
    border: 1px solid rgb(120, 116, 116);
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 10px;
   }
   .end1,.end2{
    border:1px solid rgb(120,116,116);
    color: #E6E6E6;
    padding: 6px 15px;
    border-radius: 7px;
   }
   .end1 a{
    color: white;
    text-decoration: none;
   }
   

